#container{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

#zold, #lila, #sarga{
    height: 100%;
    width: 600px;
 }
#zold{
    background-color: green;

}
#sarga{
    background-color: yellow; 
    order: 3;
    height: 200%;
}
#lila{
    background-color: purple;
    
}
