#container{
    width: 100vw;
    height: 300px;
    display: flex;
    }
    
    #zold{
        background-color: green;
    
        width: 100%;
        height: 300px;
    }
    #sarga{
        background-color: yellow;
        width: 200%;
        height: 300px;
    }
    #lila{
        background-color: purple;
        width: 100%;
        height: 300px;
    }